<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spatome.applet.count.dao.ActivityCountItemMapper" >
  <resultMap id="BaseResultMap" type="com.spatome.applet.count.entity.ActivityCountItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, item_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from activity_count_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from activity_count_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spatome.applet.count.entity.ActivityCountItem" useGeneratedKeys="true" keyProperty="id">
    insert into activity_count_item (id, activity_id, item_name
      )
    values (#{id,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, #{itemName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spatome.applet.count.entity.ActivityCountItem" useGeneratedKeys="true" keyProperty="id">
    insert into activity_count_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spatome.applet.count.entity.ActivityCountItem" >
    update activity_count_item
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spatome.applet.count.entity.ActivityCountItem" >
    update activity_count_item
    set activity_id = #{activityId,jdbcType=BIGINT},
      item_name = #{itemName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByBean" resultMap="BaseResultMap" parameterType="com.spatome.applet.count.entity.ActivityCountItem">
	select <include refid="Base_Column_List" />
	from activity_count_item T WHERE 1 = 1
    <if test="activityId != null" >
      AND activity_id = #{activityId,jdbcType=BIGINT}
    </if>
    <if test="itemName != null" >
      AND item_name = #{itemName,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>