<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spatome.applet.activity.dao.ActivityPrizeMapper" >
  <resultMap id="BaseResultMap" type="com.spatome.applet.activity.entity.ActivityPrize" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="prize_id" property="prizeId" jdbcType="BIGINT" />
    <result column="prize_pr" property="prizePr" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, prize_id, prize_pr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from activity_prize
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from activity_prize
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spatome.applet.activity.entity.ActivityPrize" useGeneratedKeys="true" keyProperty="id">
    insert into activity_prize (id, activity_id, prize_id, 
      prize_pr)
    values (#{id,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, #{prizeId,jdbcType=BIGINT}, 
      #{prizePr,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.spatome.applet.activity.entity.ActivityPrize" useGeneratedKeys="true" keyProperty="id">
    insert into activity_prize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="prizeId != null" >
        prize_id,
      </if>
      <if test="prizePr != null" >
        prize_pr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="prizeId != null" >
        #{prizeId,jdbcType=BIGINT},
      </if>
      <if test="prizePr != null" >
        #{prizePr,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spatome.applet.activity.entity.ActivityPrize" >
    update activity_prize
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="prizeId != null" >
        prize_id = #{prizeId,jdbcType=BIGINT},
      </if>
      <if test="prizePr != null" >
        prize_pr = #{prizePr,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spatome.applet.activity.entity.ActivityPrize" >
    update activity_prize
    set activity_id = #{activityId,jdbcType=BIGINT},
      prize_id = #{prizeId,jdbcType=BIGINT},
      prize_pr = #{prizePr,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByBean" resultMap="BaseResultMap" parameterType="com.spatome.applet.activity.entity.ActivityPrize">
	select <include refid="Base_Column_List" />
	from activity_prize T WHERE 1 = 1
    <if test="activityId != null" >
      AND activity_id = #{activityId,jdbcType=BIGINT}
    </if>
    <if test="prizeId != null" >
      AND prize_id = #{prizeId,jdbcType=BIGINT}
    </if>
    <if test="prizePr != null" >
      AND prize_pr = #{prizePr,jdbcType=DECIMAL}
    </if>
  </select>
</mapper>