<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spatome.applet.count.dao.ActivityCountMapper" >
  <resultMap id="BaseResultMap" type="com.spatome.applet.count.entity.ActivityCount" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="owner_no" property="ownerNo" jdbcType="VARCHAR" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="activity_type" property="activityType" jdbcType="VARCHAR" />
    <result column="image_name" property="imageName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="descs" property="descs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, owner_no, activity_name, activity_type, image_name, status, create_time, update_time, 
    descs
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from activity_count
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from activity_count
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spatome.applet.count.entity.ActivityCount" useGeneratedKeys="true" keyProperty="id">
    insert into activity_count (id, owner_no, activity_name, 
      activity_type, image_name, status, 
      create_time, update_time, descs
      )
    values (#{id,jdbcType=BIGINT}, #{ownerNo,jdbcType=VARCHAR}, #{activityName,jdbcType=VARCHAR}, 
      #{activityType,jdbcType=VARCHAR}, #{imageName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{descs,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spatome.applet.count.entity.ActivityCount" useGeneratedKeys="true" keyProperty="id">
    insert into activity_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ownerNo != null" >
        owner_no,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="activityType != null" >
        activity_type,
      </if>
      <if test="imageName != null" >
        image_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="descs != null" >
        descs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ownerNo != null" >
        #{ownerNo,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityType != null" >
        #{activityType,jdbcType=VARCHAR},
      </if>
      <if test="imageName != null" >
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="descs != null" >
        #{descs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spatome.applet.count.entity.ActivityCount" >
    update activity_count
    <set >
      <if test="ownerNo != null" >
        owner_no = #{ownerNo,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityType != null" >
        activity_type = #{activityType,jdbcType=VARCHAR},
      </if>
      <if test="imageName != null" >
        image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="descs != null" >
        descs = #{descs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spatome.applet.count.entity.ActivityCount" >
    update activity_count
    set owner_no = #{ownerNo,jdbcType=VARCHAR},
      activity_name = #{activityName,jdbcType=VARCHAR},
      activity_type = #{activityType,jdbcType=VARCHAR},
      image_name = #{imageName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      descs = #{descs,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByBean" resultMap="BaseResultMap" parameterType="com.spatome.applet.count.entity.ActivityCount">
	select <include refid="Base_Column_List" />
	from activity_count T WHERE 1 = 1
    <if test="ownerNo != null" >
      AND owner_no = #{ownerNo,jdbcType=VARCHAR}
    </if>
    <if test="activityName != null" >
      AND activity_name = #{activityName,jdbcType=VARCHAR}
    </if>
    <if test="activityType != null" >
      AND activity_type = #{activityType,jdbcType=VARCHAR}
    </if>
    <if test="imageName != null" >
      AND image_name = #{imageName,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
      AND status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      AND create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
      AND update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="descs != null" >
      AND descs = #{descs,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>