<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spatome.applet.dao.ZjRecordMapper" >
  <resultMap id="BaseResultMap" type="com.spatome.applet.entity.ZjRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_zj_id" property="activityZjId" jdbcType="BIGINT" />
    <result column="owner_no" property="ownerNo" jdbcType="VARCHAR" />
    <result column="actor_no" property="actorNo" jdbcType="VARCHAR" />
    <result column="is_win" property="isWin" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_zj_id, owner_no, actor_no, is_win, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zj_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zj_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spatome.applet.entity.ZjRecord" useGeneratedKeys="true" keyProperty="id">
    insert into zj_record (id, activity_zj_id, owner_no, 
      actor_no, is_win, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{activityZjId,jdbcType=BIGINT}, #{ownerNo,jdbcType=VARCHAR}, 
      #{actorNo,jdbcType=VARCHAR}, #{isWin,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spatome.applet.entity.ZjRecord" useGeneratedKeys="true" keyProperty="id">
    insert into zj_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityZjId != null" >
        activity_zj_id,
      </if>
      <if test="ownerNo != null" >
        owner_no,
      </if>
      <if test="actorNo != null" >
        actor_no,
      </if>
      <if test="isWin != null" >
        is_win,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityZjId != null" >
        #{activityZjId,jdbcType=BIGINT},
      </if>
      <if test="ownerNo != null" >
        #{ownerNo,jdbcType=VARCHAR},
      </if>
      <if test="actorNo != null" >
        #{actorNo,jdbcType=VARCHAR},
      </if>
      <if test="isWin != null" >
        #{isWin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spatome.applet.entity.ZjRecord" >
    update zj_record
    <set >
      <if test="activityZjId != null" >
        activity_zj_id = #{activityZjId,jdbcType=BIGINT},
      </if>
      <if test="ownerNo != null" >
        owner_no = #{ownerNo,jdbcType=VARCHAR},
      </if>
      <if test="actorNo != null" >
        actor_no = #{actorNo,jdbcType=VARCHAR},
      </if>
      <if test="isWin != null" >
        is_win = #{isWin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spatome.applet.entity.ZjRecord" >
    update zj_record
    set activity_zj_id = #{activityZjId,jdbcType=BIGINT},
      owner_no = #{ownerNo,jdbcType=VARCHAR},
      actor_no = #{actorNo,jdbcType=VARCHAR},
      is_win = #{isWin,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByBean" resultMap="BaseResultMap" parameterType="com.spatome.applet.entity.ZjRecord">
	select <include refid="Base_Column_List" />
	from zj_record T WHERE 1 = 1
    <if test="activityZjId != null" >
      AND activity_zj_id = #{activityZjId,jdbcType=BIGINT}
    </if>
    <if test="ownerNo != null" >
      AND owner_no = #{ownerNo,jdbcType=VARCHAR}
    </if>
    <if test="actorNo != null" >
      AND actor_no = #{actorNo,jdbcType=VARCHAR}
    </if>
    <if test="isWin != null" >
      AND is_win = #{isWin,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      AND create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>